body {
	background: #FF6600;
}
h1, h2, h3 {
		text-align: center;
		color: #003366;
}
.jumbotron {
	background: url(bg.jpg) center no-repeat;
	height: 400px;
	color: white;
}
.muscleGroup a {
	text-align: center;
	text-transform: capitalize;
	width: auto;
	height: auto;
}
.muscleGroup img {
	width: 100%;
	height: auto;
	margin-bottom: 10px;
}
.motivate {
	text-align: center;
	margin-top: 50px;
	color: #FF6600;
}
.center {
	text-align: center;
}
