.navbar {
    height: auto;
    background: #003366;
    border-radius: 0;
    margin-bottom: 0;
}
.nav-link {
    color: #FFFFFF;
    font-size: 16px;
    border-radius: 5px;
    width: 160px;
    padding: 0;
    text-align: center;
}
.dropdown-menu {
    background: #003366;
    border-radius: 5px;
}
.dropdown-menu li a {
    color: #FF6600;
}
.chosen-container-single .chosen-single {
    background: transparent;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    box-shadow: none;
    font-size: 16px;
    text-align: center;
    padding: 15px;
    width: auto;
    height: auto;
}
.chosen-container-single .chosen-single:hover {
    background-color: #eee;
}
.chosen-container-single .chosen-single span {
    width: auto;
    height: auto;
    margin: 0;
}
.chosen-container-single .chosen-single div {
    display: none;
}
.chosen-container-single .chosen-single div b {
    display: none;
}
.chosen-container .chosen-drop {
    background: #003366;
    border-radius: 5px;
}
.chosen-container-single .chosen-search input[type=text] {
    background: #FF6600;
}
.chosen-results li {
    color: #FF6600;
}
.chosen-container .chosen-results li.highlighted {
    color: #003366;
    background: #FF6600;
}