<div class="container-fluid">
      <img src="images/stretch.gif" class="picture" />
</div>
<div class="container">
<ul class="list">
    <h3>THE DO'S OF EXERCISING</h3>
    <li>Warm Up.</li>
    <p>People tend to shrug off this prelude to exercise, either giving it minimal time or bypassing it altogether. But just like a cold dough, cold muscles won't be as pliable to work with (without risking tears) as warmed ones. Try gentle movements, like walking, to prepare your muscles before leaping into a more rigorous workout.</p>
    <li>Stretch More.</li>
    <p>Stretching seems to be a 'lost art,' but it can improve range of motion and felxibility, and reduces the risk of muscle tightness and strain, Get the most from your stretch right after your workout, while your muscles are still warm.</p>
    <li>Bring a Bottle.</li>
    <p>Always bring a bottle of water with you to the gym and drink from it regularly - before you feel thirsty. Thirst is a signal that you're already on your way to hedydration.</p>
    <li>Find "Just Right."</li>
    <p>Many people either work out too intensely - risking injury - or not intensely enough. Ask your gym's fitness advisor to help determine workout goals that are right for you based on your age and fitness level.</p>
</ul>
<ul class="list">
    <h3>THE DONT'S OF EXERCISING</h3>
    <li>Lifting Too Much.</li>
    <p>Talk to your fitness advisor to ensure you're lifting weights that are appropriate for you - otherwise you could injure your muscles. If you feel you're ready to challenge yourself, add weights gradually and always listen to your body. Lifting to the point of 'tingle' or fatigue is fine, but be wary of lifting to the point of 'failure' or muscle exhaustion.</p>
    <li>The Machine Lean.</li>
    <p>Stair-climbers, elliptical machines, cross trainers, and treadmillls may seem like equipment made to lean on, but this may put undue stress on the wrists and back. Monitor your posture during exercise for the most effective results.</p>
    <li>Jerking Around. </li>
    <p>If a free weight is so heavy that you must "jerk" it up to get it to move, you're probably straining your muscles as well, which may mean you're courting injury. Find a weight you can control with a smooth lift. This goes for weights on machines as well.</p>
    <li>Going Nuts With Food and Drink.</li>
    <p>If your workout lasts less than two hours, you shouldn't need energy bars or sports drinks to fuel your workout. "Some bars are hgh in calories" so always check labels to make the best selections. </p>
</ul>
</div>