
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>{{exercise.name}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <h2>Description</h2>
            <p>{{exercise.description}}</p>
        </div>
        <div class="col-md-6">
        	<h3>{{exercise.images.image_1.Title}}</h3>
            <img src="{{exercise.images.image_1.ImageUrl}}" class="image" />
            <h3>{{exercise.breathtake}}</h3>
        </div>
        <div class="col-md-3">
                <h2>Focuses</h2>
                <ul>
                	<li ng-repeat="focus in exercise.focuses">{{focus}}</li>
                </ul>
                
        </div>
    </div>
    <hr style="border: solid thin black;" />
    <footer>
    	<p>Please review the following User Agreement carefully before using the Fitness Tutorial Application. You should also read our Privacy Policy.

Fitness Tutorial Application strongly recommends that you consult with your physician before beginning any exercise program. You should be in good physical condition and be able to participate in the exercise. Fitness Tutorial App is not a licensed medical care provider and represents that it has no expertise in diagnosing, examining, or treating medical conditions of any kind, or in determining the effect of any specific exercise on a medical condition.

You should understand that when participating in any exercise or exercise program, there is the possibility of physical injury. If you engage in this exercise or exercise program, you agree that you do so at your own risk, are voluntarily participating in these activities, assume all risk of injury to yourself, and agree to release and discharge Fitness Tutorial Application from any and all claims or causes of action, known or unknown, arising out of Fitness Tutorial Application's negligence.</p>
    </footer>
</div>
