<div class="container">
    <div class="row">
        <div class="col-md-2 col-md-offset-5">
        	<input ng-model="query" placeholder="Search Exercises" class="gridSearch" />
        </div>
        <div class="col-md-5">
        </div>
    </div>
    <div class="row" ng-repeat="exercise in exercises | orderBy:orderProp | filter:filterParam | filter:query | groupBy:3">
        <div class="col-sm-4 muscleGroup" ng-repeat="userChoice in exercise">
            <a href="#/exercises/{{userChoice.id}}"><h2>{{userChoice.name}}</h2></a>
            <a href="#/exercises/{{userChoice.id}}"><img src="{{userChoice.imageUrl}}" />
            </a>
        </div>
    </div>
</div>