    <div class="jumbotron">
        <div class="container">
            <h1>Hello, Fitness World!</h1>
            <p class="motivate">"Surround yourself with those that CHALLENGE YOU, PUSH YOU, and MOTIVATE YOU!"</p>
        </div>
    </div>
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h2>Welcome to Fitness</h2>
            <p class="center">This is an exercise tutorial for all members who want a good resource tool for fitness exercises. We are not doctors nor licensed physical trainers, therefore we are not liable for any injuries or death caused by any exercise routines displayed on our site. Enjoy!</p>
        </div>
        <div class="col-md-4">
        </div>
    </div>
    <hr>
    <div class="row" ng-repeat="targetAreas in muscleGroups | orderBy:orderProp | groupBy:3">
        <div class="col-sm-4 muscleGroup" ng-repeat="targetArea in targetAreas">
            <a href="#/muscleGroup/{{targetArea.muscleGroup}}"><h2>{{targetArea.muscleGroup}}</h2></a>
            <a href="#/muscleGroup/{{targetArea.muscleGroup}}"><img src="{{targetArea.imageUrl}}" />
            </a>
        </div>
    </div>
</div>