<nav class="navbar">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#btnCollapse">Drop Down
            </button>
            <a class="navbar-brand" href="#">Fitness Tutorial</a>
        </div>
        <div class="collapse navbar-collapse" id="btnCollapse">
            <ul class="nav navbar-nav pull-right">
                <li><a href="#">do's and don'ts</a>
                </li>
                <li><a href="#">tips</a>
                </li>
                <li class="dropdown">
                    <a href="/home" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Muscle Groups <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-repeat="targetArea in muscleGroups | orderBy:orderProp"><a href="#/exercises/{{targetArea.muscleGroup}}">{{targetArea.muscleGroup}}</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="/home" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Exercises <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            Search:<input ng-model="query" />
                        </li>
                        <li ng-repeat="exercise in exercises | filter:query | orderBy:orderProp"><a href="#/exercises/{{exercise.name}}">{{exercise.name}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>