<nav class="navbar">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#btnCollapse">Drop Down
            </button>
            <a href="#/home" class="navbar-brand" href="/home">Fitness Tutorial</a>
        </div>
        <div class="collapse navbar-collapse" id="btnCollapse">
            <ul class="nav navbar-nav pull-right">
                <li><a href="#/dos-donts">do's and don'ts</a>
                </li>
                <li><a href="#/tips">tips</a>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Muscle Groups <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-repeat="targetArea in muscleGroups | orderBy:orderProp"><a class="selection" href="#/muscleGroup/{{targetArea.muscleGroup}}">{{targetArea.muscleGroup}}</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <select data-placeholder="Exercises" class="chosen-select" onchange="window.location=this.options[this.selectedIndex].value;">
                        <option value="">Exercises <span class="caret"></span></option>
                        <option ng-repeat="exercise in exercises" value="#/exercises/{{exercise.id}}"><a href="#/exercises/{{exercise.id}}">{{exercise.name}}</a></option>
                    </select>   
                </li>
            </ul>
        </div>
    </div>
</nav>